@font-face {
    font-family: iran;
    src: url(../../fonts/IranianSans.ttf)
}
*{
    color: darkgray;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.719);
    opacity: 3;
    font-family:iran;
    direction:rtl;
    overflow-x: hidden;

}
label{
    margin: 20px 0px !important;
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
}
article{
    /* width:80%; */
    
    margin: 100px auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border: 1px solid rgba(229, 233, 30, 0.658);
    border-radius:10px;
    padding:20px!important;
}
.form-group{
    margin-top:20px;
}
button{
    margin-top:50px;
    background-color:rgba(229, 233, 30, 0.658) !important;
}


  .animate__animated.animate__fadeInLeft {
    --animate-duration: 2s !important;
    --animate-delay:2s !important;
  }
  ::placeholder{
      color: crimson;
  }
  input,textarea{
      background-color: rgba(66, 66, 62, 0.37) !important;
      border:1px solid rgba(229, 233, 30, 0.658) !important;
      color:white !important;
  }
  input:focus,textarea:focus {
      background-color:rgba(216, 216, 213, 0.658) !important;
      color: aliceblue !important;
  }
  input:focus::placeholder,textarea:focus::placeholder {
    /* background-color:rgba(216, 216, 213, 0.658) !important; */
    color: aliceblue !important;
}
.errorText{
    color: red !important;
}

  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
     min-width: 100%; 
     min-height: 100%; 
  }
#progressbarContainer{
    flex-direction:row;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
#progressbarContainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    list-style: none;
}
#progressbarContainer ul li{
    border: 1px solid black;
    margin: 10px 5px;
    font-size: 12px;
    padding: 5px;
    border-radius:50%; 
    color: black;
    background-color:rgba(230, 233, 30, 0.87)
}
#progressbarContainer ul li.active{
    border: 1px solid black;
    margin: 10px 5px;
    font-size: 12px;
    padding: 5px;
    color: black;
    background-color:rgba(90, 92, 1, 0.945)
}
th,td{
    text-align: center !important;
}
.card{
    background-color: #fff !important;
    border-radius: 5px !important;
    min-height: 500px !important;
    padding: 10px !important;
}
.title{
    margin-top: 20px !important;
}
.content{
    background-color:#ddd;
    padding: 10px !important;
    color: black;
}
select,option{
    background-color: rgba(66, 66, 62, 0.37) !important;
    border:1px solid rgba(229, 233, 30, 0.658) !important;
    color:white !important;
}
label{
    margin: 10px 0px !important;
}